@model Applications.WebClient.Models.ViewModels.TransactionVMS.CreateTransactionVM

@{
    ViewData["Title"] = "Transafer iz banke na racun";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBankDepositTransaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalNumber" class="control-label"></label>
                <input asp-for="PersonalNumber" class="form-control" />
                <span asp-validation-for="PersonalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPass" class="control-label"></label>
                <input type="password" asp-for="UserPass" class="form-control" />
                <span asp-validation-for="UserPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


